
VITE_API_URL = "http://127.0.0.1:8088/api" # 请求URL

VITE_MEDIA_URL = "http://127.0.0.1:8088"

VITE_VUE_CDN = "https://cdn.jsdelivr.net/npm/vue@3.5.18/dist/vue.global.prod.js"

VITE_AXIOS = "https://cdn.jsdelivr.net/npm/axios@1.10.0/dist/axios.min.js"

VITE_PANIA = "https://cdn.jsdelivr.net/npm/pinia@3.0.3/dist/pinia.iife.prod.js"

VITE_VUE_ROUTER = "https://cdn.jsdelivr.net/npm/vue-router@4.5.1/dist/vue-router.global.min.js"

VITE_NORMALIZE_CSS = "https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css"

VITE_ELEMENT_JS_CDN = "https://cdn.jsdelivr.net/npm/element-plus/dist/index.full.min.js"

VITE_ELEMENT_CSS_CDN = "https://cdn.jsdelivr.net/npm/element-plus/dist/index.css"

VITE_ELEMENT_DISPLAY_CSS_CDN = "https://cdn.jsdelivr.net/npm/element-plus/theme-chalk/display.css"

VITE_ELEMENT_DARK_CSS_CDN = "https://cdn.jsdelivr.net/npm/element-plus/theme-chalk/dark/css-vars.css"

VITE_ELEMENT_ICON_CDN = "https://cdn.jsdelivr.net/npm/@element-plus/icons-vue@2.3.2/dist/index.iife.min.js"

VITE_HTML2CANVAS = "https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"

VITE_JS_MD5 = "https://cdn.jsdelivr.net/npm/js-md5@0.8.3/src/md5.min.js"

VITE_VUE_I18N = "https://cdn.jsdelivr.net/npm/vue-i18n@11.1.11/dist/vue-i18n.global.prod.js"

VITE_VUE_PLYR_JS = "https://cdn.jsdelivr.net/npm/vue-plyr@7.0.0/dist/vue-plyr.min.js"

VITE_VUE_PLYR_CSS = "https://cdn.jsdelivr.net/npm/vue-plyr@7.0.0/dist/vue-plyr.min.css"

VITE_HIGHLIGHT_JS = "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"

VITE_HIGHLIGHT_CSS = "https://cdn.jsdelivr.net/npm/highlight.js@11.11.1/styles/github-dark.css"

VITE_TYPED_JS = "https://cdn.jsdelivr.net/npm/typed.js@2.1.0/dist/typed.umd.min.js"

VITE_VUE_CROPPER_JS = "https://cdn.jsdelivr.net/npm/vue-cropper@1.1.4/dist/vue-cropper.umd.min.js"

VITE_VUE_CROPPER_CSS = "https://cdn.jsdelivr.net/npm/vue-cropper@1.1.4/dist/index.min.css"

VITE_WANGEDITOR_JS = "https://cdn.jsdelivr.net/npm/@wangeditor/editor@5.1.23/dist/index.min.js"

VITE_WANGEDITOR_CSS = "https://cdn.jsdelivr.net/npm/@wangeditor/editor@5.1.23/dist/css/style.min.css"

VITE_BAIDU_MAP_EXTENSION_CDN = "https://api.map.baidu.com/api?v=3.0&ak=YOUR_BAIDU_MAP_AK"

VITE_ECHARTS_CDN = "https://cdn.jsdelivr.net/npm/echarts@6.0.0/dist/echarts.min.js"

VITE_ECHARTS_BD_MAP_EXTENSION_CDN = "https://cdn.jsdelivr.net/npm/echarts@6.0.0/dist/extension/bmap.min.js"

VITE_BAIDU_MAP_API = "https://api.map.baidu.com/api?v=3.0&type=webgl&ak=YOUR_BAIDU_MAP_AK&s=1"
VITE_BAIDU_MAP_CLUSTER_CDN = "https://unpkg.com/@bmapgl-plugin/cluster"
VITE_CHANCE_JS = "https://cdn.jsdelivr.net/npm/chance@1.1.13/chance.min.js"
